.profile-action,
.profile-action__content,
.profile-action__text,
.profile-action__icon-wrapper {
    display: flex;
}

.profile-action {
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.profile-action__content {
    align-items: center;
    gap: 15px;
}

.profile-action__icon-wrapper {
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: #F1F2F4;
    border-radius: 100px;
}

.profile-action__icon {
    width: 32px;
    height: 32px;
}

.profile-action__text {
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3px;
}

.profile-action__title {
    font-weight: 600;
    font-size: 19px;
}

.profile-action__subtitle {
    font-weight: 400;
    font-size: 16px;    
    color: #9597A6;
}
