.profile-panel {
    display: flex;
    flex-direction: column;
    padding: 15px;
    gap: 10px;

    background: #FFFFFF;
    box-shadow: 0px 4px 28px -16px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
}

.profile-divider {
    height: 0.5px;
    width: 100%;
    background-color: #9597A6;
}


.no-style-link {
  color: inherit;          /* берёт цвет из родителя, не синий */
  text-decoration: none;   /* убирает подчеркивание */
  display: inline-block;   /* чтобы можно было применять padding/margin, если нужно */
}

.no-style-link:visited,
.no-style-link:hover,
.no-style-link:active {
  color: inherit;          /* сохраняет цвет на всех состояниях */
  text-decoration: none;
}
