* {
    margin: 0;
    padding: 0;
}

body {
    background: rgba(241, 243, 244, 1);
    font-family: "Manrope", sans-serif;
}

main {
    padding: 20px 10px 0 10px;
}

h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 22px;
}

input {
    border: none;
    &:active,
    &:hover,
    &:focus {
        outline: 0;
        outline-offset: 0;
    }
}

button {
    border: none;
}

input::placeholder {
    font-family: "Manrope", sans-serif;
}
