nav {
    position: fixed;
    bottom: 0;

    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;

    padding: 20px 0 20px 0;
    width: 100%;

    background-color: #FFFFFF;
}

nav button {
    background-color: #FFFFFF;
}

nav a svg {
    width: 32px;
    height: 32px;
    color: #091824;
}

nav a.nav-active svg {
    color: #754BF3;
}
